// Variables
// $primary_colour: #fff;
// $secondary_colour: #ddd;

.search__menu {
  position: relative;
  // margin-right: 2em;
  // margin-left: 0;
  width: 100%;
}

.search__icon {
  padding: 0 20em;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: contents;

  .icon {
    max-width: 40px;
    padding-right: 5px;
  }
  .title {
    font-family: 'Playfair Display';
    font-weight: 300;
  }
}

.theme__selector {
}

@media screen and (max-width: 700px) {
  .logo {
    .title {
      visibility: hidden;
    }
  }
}
