@media screen and (max-width: 480px) {
  .icons {
    .icon {
      color: $primaryLight;
      padding: 5px;
      margin: 20px 5px;
      border: 1px solid $primaryLight;
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 960px) {
  .icons {
    .icon {
      color: $primaryLight;
      padding: 5px;
      margin: 20px 5px;
      border: 1px solid $primaryLight;
      border-radius: 50%;
    }
  }
}
