.heart__icon {
  color: #f00;
}

.hero__image {
  padding: 20px;
}

@media screen and (max-width: 1240px) {
  .hero__image {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .my__avatar {
    width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 1em;
  }

  .hero__subtitle {
    font-size: 0.8em;
  }

  .heart__icon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .heart__text {
    // color: black;
  }
}
