html,
body {
  width: 100%;
  max-width: 100%;
  font-family: 'Playfair Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  // background: $thirdWhiteColour;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 90%;
  margin: auto;
  justify-content: center;
  text-align: center;
}
