@media screen and (max-width: 480px) {
}

@media screen and (min-width: 960px) {
  .projects__container {
    width: 100%;
    background: $bgPrimaryTwo;
    color: white;
    margin-top: 2em;

    .projects__icon {
      color: white;
    }

    .side__box {
      position: relative;
      overflow: hidden;

      .pb__image__block {
        position: relative;
        width: 100%;
        padding-top: 1em;
        right: 0.05em;
        overflow: hidden;
        z-index: 9;

        img {
          &::after {
            content: 'lorem';
            color: #000;
          }
        }
      }

      .pb__slide__show {
        position: absolute;
        z-index: 1;
        top: 10.2%;
        left: 0px;
        width: 86%;
        margin: auto;
        right: 0px;
      }
    }

    .projects__text {
      background-color: #fff;
      width: 40%;
    }

    .learn__more {
      align-items: center;
      justify-content: center;
    }

    .projects__carousel {
      width: 60%;
    }
  }
}
