$primaryWhiteColour: #f9f3e9;
$secondaryWhiteColour: #fcf8f0;
$thirdWhiteColour: #fafcf0;
$primaryGreenColour: #32a852;
$primaryLight: #ff9d00;
$primaryMain: #f9a826;
$primaryDark: #eb9100;
$contrastText: #fff;
$bgPrimaryOne: #e0e0e0;
$bgPrimaryTwo: #e1e1e1;
$bgPrimaryThree: #e6e6e4;
$primaryText: #333;
